################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoCore/bin/Release
/Carisbrook/obj/Debug
/DemoService/bin/Debug
/DemoModel/bin/Release
/Carisbrook/bin
/DemoCore/obj
/DemoModel/obj
/.vs
