@{
    ViewBag.Title = "Home Page";
}
<!-- banner -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h6> </h6>
                    <h3>
                       <span> </span>
                    </h3>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h6> </h6>
                    <h3>
                        <span> </span>
                    </h3>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h6> </h6>
                    <h3>  
                        <span> </span> 
                    </h3>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h6> </h6>
                    <h3>
                        
                        <span> </span>
                    </h3>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->
<!-- about -->
<div class="banner-bottom-w3l" id="about">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>W</span>elcome
            </h3>
            <div class="tittle-style">    </div>
        </div>
        <div class="welcome-sub-wthree">
            <div class="col-md-6 banner_bottom_left">
                <h4>
                    About
                    <span>Carisbrook</span>
                </h4>
                <p>
                    At Carisbrook School we are proud to offer a wide variety of additional programmes aimed at assisting, extending and supporting our students and we employ specialist reading, writing and maths teachers who provide learning support opportunities.
                </p>
                <p>
                    Carisbrook School is well stocked with the most up-to-date resources and equipment including interactive whiteboards, laptops and i-pads amongst other ICT equipment.
                </p>
                <p>
                    Our Values are Respectful, Responsible and Resilient and we have a focus on positive behaviour for learning.
                </p>
                <p>
                    Each Carisbrook pupil will be challenged and encouraged to reach their full potential or beyond, in the best learning environment possible.
                </p>
            </div>
            <!-- Stats-->
            <div class="col-md-6 stats-info-agile">
                <h2 style="color:White;"><u>Latest News</u></h2>
                <div style="padding:5px;  height:auto; width:95%; margin-top:70px; margin-bottom:20px;">
                    <marquee direction="up" scrollamount="3" scrolldelay="60" onmouseover="stop()" onmouseout="start()" style="padding:5px; height:500px;">
                        <p>
                              Last day term 1 - 12th April
                        </p><br />

                        <p>                        
                               First day term 2 - 29th April
                        </p><br /><br />

                        <p>
                            
                            Singapour Culture Exchange 2019 has From 25th April - 2nd May
                        </p><br />

                        <p>
                           
                                Royal NZ Navy band 2pm-2:45pm On 27th May
                        </p><br />

                            <h4 style="color:White;">
                                <span class="fa fa-hand-o-right" aria-hidden="true" style="color:black"></span>
                                <u>Carisbrook School Holiday Programme</u>
                            </h4><br />
                        <p>                            
                               Enrolment Forms are now available from Anna at After School Care or Kellie in the office
                        </p><br />                         
                        <p> Holiday Programme hours at 800am to 5:30pm </p><br />

                            <h4 style="color:White;">
                                <span class="fa fa-hand-o-right" aria-hidden="true" style="color:black"></span>
                                <u>Year 7 Vision Screening</u>
                            </h4>
                        <p>                     
                              The Vision Hearing Technicians from Population Health Southern Distric Health will be visiting your school to school all year seven students for distance vision
                        </p><br /><br />
                    </marquee>
                </div>
               <div class="clearfix"></div>
            </div>
        </div>
            <!-- //Stats -->
            <div class="clearfix"> </div>
        </div>
    </div>
@*</div>*@
<!-- //about -->
<!-- services -->
<div class="services">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>Our</span>
                <span>Service</span>
            </h3>
            <div class="tittle-style">

            </div>
        </div>
        <div class="services-moksrow">
            <div class="col-xs-4 services-grids-w3l">
                <div class="servi-shadow">
                    <span class="fa fa-users icon" aria-hidden="true"></span>
                    <h4>Best Teachers</h4>
                    <p>Phasellus at placerat ante nulla adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l">
                <div class="servi-shadow">
                    <span class="fa fa-laptop icon " aria-hidden="true"></span>
                    <h4>Excellent Lab</h4>
                    <p>Phasellus at placerat ante nulla adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l">
                <div class="servi-shadow">
                    <span class="fa fa-book icon" aria-hidden="true"></span>
                    <h4>Book Library</h4>
                    <p>Phasellus at placerat ante nulla adipiscing elit</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="services-moksrow">
            <div class="col-xs-4 services-grids-w3l">
                <div class="servi-shadow">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                    <h4>Swimming Poll</h4>
                    <p>Phasellus at placerat ante nulla adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l">
                <div class="servi-shadow">
                    <span class="fa fa-bus icon" aria-hidden="true"></span>
                    <h4>Transport Facility</h4>
                    <p>Phasellus at placerat ante nulla adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l">
                <div class="servi-shadow">
                    <span class="fa fa-laptop icon" aria-hidden="true"></span>
                    <h4>Canteen</h4>
                    <p>Phasellus at placerat ante nulla adipiscing elit</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- news -->
<div class="news" id="news">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>O</span>ur
                <span> E</span>vents
            </h3>
            <div class="tittle-style">

            </div>
        </div>
        <div class="yaallahaa-news-grids-agile">
            <div class="yaallahaa-news-grid">
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img">
                        <div class="news-left-text color-event1">
                            <h5>April</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color1">
                            <a href="#" data-toggle="modal" data-target="#myModal">Year 5 - Camp</a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 3rd - 5th April
                                </a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> Waiora, NZ
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img news-left-img1">
                        <div class="news-left-text color-event2">
                            <h5>July</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color2">
                            <a href="#" data-toggle="modal" data-target="#myModal">Year 4 - Camp </a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 31st July - 2nd August
                                </a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> Berwick, NZ
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="yaallahaa-news-grid">
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img news-left-img2">
                        <div class="news-left-text color-event3">
                            <h5>September</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color3">
                            <a href="#" data-toggle="modal" data-target="#myModal">Year 2 - Camp</a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 12th - 13th Ruma Tui <br />
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 19th - 20th Ruma Moa
                                </a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> Otago Museum, NZ
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img news-left-img3">
                        <div class="news-left-text color-event4">
                            <h5>November</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color4">
                            <a href="#" data-toggle="modal" data-target="#myModal">Year 3 - Camp</a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 21st - 22nd Nov
                                </a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> Waikouaiti, NZ
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Best
                    <span>Study</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="model-img-info">
                    <img src="images/e1.jpg" alt="" />
                    <p>
                        Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque
                        ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis
                        porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper. Cras tempor massa
                        luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //modal -->
<!-- //news -->
<!-- middle section -->
@*<div class="middle-sec-agile">
        <div class="container">
            <h4>
                Our
                <span>CarisBrook</span> School
            </h4>
            <ul>
                <li>
                    <div class="midle-left-w3l">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                    <div class="middle-right">
                        <h5>Select A Course You Like And Explore It!</h5>
                        <p>Integer eu facilisis nunc, a iaculis felis.</p>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="midle-left-w3l">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                    <div class="middle-right">
                        <h5>Join A Seminar To Know More About It!</h5>
                        <p>Integer eu facilisis nunc, a iaculis felis.</p>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="midle-left-w3l">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                    <div class="middle-right">
                        <h5>Get Enrolled And Start Better Future With Us!</h5>
                        <p>Integer eu facilisis nunc, a iaculis felis.</p>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="pencil-img">
            <img src="~/Assets/images/bg5.png" alt="" />
        </div>
    </div>*@
<!-- //middle section -->
